.card {
    background-color: rgb(255, 255, 255);

    width: 500px;
    padding: 30px;
    height: 300px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: none;
    margin-left: 30%;

}

.card p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section h1 {
    text-align: left;
    margin-left: 30%;
    margin-top: 50px;
    margin-bottom: 40px;

}

.section {
    display: flex;
    margin: 3%;
    margin-top: 7%;
}

.section img {
    width: 400px;
    height: 600px;
    margin-left: 25%;
}

.class-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 0;
    border: none;
}

.class-grid button {
    border: 1px solid #dddddd;
    background: #fff;
    color: #333;
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.class-grid button:hover {
    background: #f3f3f3;
    background-color: #e87777;
    color: #f9f9f9;
}

.course-button-s {
    background-color: #f5f7f7;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.course-button-s:hover {
    background-color: #ec7087;
    color: #f3f3f3;
}
